<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Wikinimous", root_path, class: "btn-navbar" %>
  <%= link_to "New article", articles_new_path, class: "btn-navbar" %>
</div>
