.navbar-lewagon {
  justify-content: space-between;
  background: #F8F8F8;
}

a.btn-navbar:link {
  font-color: #696969;
  text-decoration: none;
}

a.btn-navbar:visited
{
   color: #696969;
   text-decoration: none;
}
