.content-show {
  margin-top: 50px;
  justify-content: center;
  margin-right: 25%;
  margin-left: 25%;
    p {
    font-size: 20px;
    line-height: 1.7em;
    font-weight: lighter;
    font-color: black;
    }
}
